In [20]:
import pandas as pd
from sklearn.metrics import accuracy_score
dataset = pd.read_csv("data/dataset_train.csv")

In [2]:
def encode_dataset(dataframe):
    dataframe = dataframe.drop("capital-gain", axis=1)
    dataframe = dataframe.drop("capital-loss", axis=1)
    dataframe["workclass"] = dataframe["workclass"].map({'Private': 0.5, 'Self-emp-not-inc': 0.5,'Local-gov': 0.5, '?':0.5,'State-gov': 0.7, 'Self-emp-inc': 1, 'Federal-gov': 0.85, 'Without-pay': 0.2,'Never-worked':0.1})
    dataframe["education"] = dataframe["education"].map({'HS-grad': 0.4, 'Some-college': 0.4,'Bachelors': 0.75,'Masters': 0.75, 'Assoc-voc': 0.5, '11th': 0.3, 'Assoc-acdm': 0.5,'10th':0.3, '7th-8th': 0.3,'Prof-school':0.95, '9th': 0.3, '12th': 0.3,'Doctorate': 0.95,'5th-6th': 0.3, '1st-4th': 0.1,'Preschool': 0.1})
    dataframe["marital-status"] = dataframe["marital-status"].map({'Married-civ-spouse': 0.7, 'Never-married': 0.2, 'Divorced': 0.2,'Widowed': 0.2, 'Separated': 0.2, 'Married-spouse-absent': 0.5,'Married-AF-spouse': 0.5})
    dataframe["occupation"] = dataframe["occupation"].map({'Prof-specialty': 0.8, 'Craft-repair': 0.5, 'Exec-managerial': 0.8,'Adm-clerical': 0.4, 'Sales': 0.5, 'Other-service': 0.3,'Machine-op-inspct': 0.3, '?': 0.5,'Transport-moving': 0.5, 'Handlers-cleaners': 0.3,'Farming-fishing': 0.4,'Tech-support': 0.45,'Protective-serv': 0.45,'Priv-house-serv': 0.1, 'Armed-Forces': 0.4})
    dataframe["relationship"] = dataframe["relationship"].map({'Husband': 0.9, 'Not-in-family': 0.3,'Own-child': 0.1, 'Wife':0.9,'Other-relative': 0.3, 'Unmarried': 0.3})
    dataframe["race"] = dataframe["race"].map({'White': 0.5, 'Black': 0.3,'Asian-Pac-Islander': 0.5, 'Amer-Indian-Eskimo':0.3,'Other': 0.3})
    dataframe["gender"] = dataframe["gender"].map({'Male': 0.7, 'Female': 0.3})
    dataframe["native-country"] = dataframe["native-country"].map({'Mexico':0.3 ,'Puerto-Rico':0.3 ,'El-Salvador':0.3 ,'Dominican-Republic':0.3 ,'Columbia':0.3, 'United-States' :0.5 , '?' :0.5 , 'Cuba':0.5, 'Philippines' :0.5 , 'Germany' :0.5 , 'China' :0.5 , 'India' :0.5 , 'England' :0.5 , 'Jamaica' :0.5 , 'South' :0.5 , 'Guatemala' :0.5 , 'Vietnam' :0.5 , 'Poland' :0.5 , 'Italy' :0.5 , 'Haiti' :0.5 , 'Portugal' :0.5 , 'Japan' :0.5 , 'Peru' :0.5 , 'Taiwan' :0.5 , 'Nicaragua' :0.5 , 'Ecuador' :0.5 , 'Iran' :0.5 , 'Greece' :0.5 , 'Thailand' :0.5 , 'Trinadad&Tobago' :0.5 , 'Outlying-US(Guam-USVI-etc)' :0.5 , 'Cambodia' :0.5 , 'Ireland' :0.5 , 'Laos' :0.5 , 'France' :0.5 , 'Hong' :0.5 , 'Honduras' :0.5 , 'Scotland' :0.5 , 'Yugoslavia' :0.5 , 'Hungary' :0.5 , 'Holand-Netherlands':0.5, 'Canada':0.7})
    dataframe["income"] = dataframe["income"].map({'<=50K':0, '>50K':1})
    dataframe["age"] = (dataframe["age"]-17)/73
    dataframe["educational-num"] = (dataframe["educational-num"]-1)/15
    dataframe["hours-per-week"]  = dataframe["hours-per-week"].apply(lambda x: 1 if x > 80 else (x-1)/80)
    dataframe["fnlwgt"] = dataframe["fnlwgt"].apply(lambda x: 1 if x > 700000 else (x-12285)/787715)
    
    return dataframe

In [3]:
data_norm = encode_dataset(dataset)
X_dataset = data_norm.drop('income', axis=1)
y_dataset = data_norm['income']

In [4]:
pdata = pd.read_csv("data/p_test.csv")
pdata_norm = encode_dataset(pdata)
X_p = pdata_norm.drop('income', axis=1)
y_p = pdata_norm['income']

In [5]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_dataset, y_dataset)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [6]:
y_pred = clf.predict(X_p)
print("MultinomialNB accuracy: ", accuracy_score(y_p, y_pred))

MultinomialNB accuracy:  0.758828948715324

In [7]:
def encode_dataset_2(dataframe):
    dataframe["workclass"] = dataframe["workclass"].map({'Private': 0, 'Self-emp-not-inc': 1,'Local-gov': 2, '?':3,'State-gov': 4, 'Self-emp-inc': 5, 'Federal-gov': 6, 'Without-pay': 7,'Never-worked':8 })
    dataframe["education"] = dataframe["education"].map({'HS-grad': 0, 'Some-college': 1,'Bachelors': 2, '?':3,'Masters': 4, 'Assoc-voc': 5, '11th': 6, 'Assoc-acdm': 7,'10th':8, '7th-8th': 9,'Prof-school':10, '9th': 10, '12th': 11,'Doctorate': 12,'5th-6th': 13, '1st-4th': 14,'Preschool': 15   })
    dataframe["marital-status"] = dataframe["marital-status"].map({'Married-civ-spouse': 0, 'Never-married': 1, 'Divorced': 2,'Widowed': 3, 'Separated': 4, 'Married-spouse-absent': 5,'Married-AF-spouse': 6 })
    dataframe["occupation"] = dataframe["occupation"].map({'Prof-specialty': 0, 'Craft-repair': 1, 'Exec-managerial': 2,'Adm-clerical': 3, 'Sales': 4, 'Other-service': 5,'Machine-op-inspct': 6, '?': 7,'Transport-moving': 8, 'Handlers-cleaners': 9,'Farming-fishing': 10,'Tech-support': 11,'Protective-serv': 12,'Priv-house-serv': 13, 'Armed-Forces': 14})
    dataframe["relationship"] = dataframe["relationship"].map({'Husband': 0, 'Not-in-family': 1,'Own-child': 2, 'Wife':3,'Other-relative': 4, 'Unmarried': 5})
    dataframe["race"] = dataframe["race"].map({'White': 0, 'Black': 1,'Asian-Pac-Islander': 2, 'Amer-Indian-Eskimo':3,'Other': 4})
    dataframe["gender"] = dataframe["gender"].map({'Male': 1, 'Female': 0})
    dataframe["native-country"] = dataframe["native-country"].replace(['United-States'], 0)
    dataframe["native-country"] = dataframe["native-country"].replace(['Mexico', '?', 'Philippines', 'Puerto-Rico', 'Canada', 'Germany', 'El-Salvador', 'Cuba', 'India', 'England', 'China', 'Dominican-Republic', 'Italy', 'South', 'Columbia', 'Japan', 'Jamaica', 'Poland', 'Guatemala', 'Haiti', 'Vietnam', 'Taiwan', 'Iran', 'Portugal', 'Ecuador', 'Nicaragua', 'Greece', 'Peru', 'Ireland', 'France', 'Cambodia', 'Thailand', 'Hong', 'Trinadad&Tobago', 'Honduras', 'Laos', 'Outlying-US(Guam-USVI-etc)', 'Yugoslavia', 'Hungary', 'Scotland', 'Holand-Netherlands'], 1)
    dataframe["income"] = dataframe["income"].map({'<=50K':0, '>50K':1})
    return dataframe

In [8]:
data_norm = encode_dataset_2(dataset)
X_dataset = data_norm.drop('income', axis=1)
y_dataset = data_norm['income']

pdata_norm = encode_dataset_2(pdata)
X_p = pdata_norm.drop('income', axis=1)
y_p = pdata_norm['income']

In [9]:
clf = MultinomialNB()
clf.fit(X_dataset, y_dataset)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [10]:
y_pred = clf.predict(X_p)
print("MultinomialNB accuracy: ", accuracy_score(y_p, y_pred))

MultinomialNB accuracy:  0.7846248336574879

In [11]:
X_dataset.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,67,3,101761,1,10,0,7,0,0,1,0,0,40,0
1,57,0,190942,14,2,3,13,1,1,0,0,0,30,0
2,27,0,141545,0,9,0,8,0,0,1,0,1902,45,0
3,61,1,392694,1,10,2,2,1,0,1,0,0,50,0
4,34,4,327902,2,13,0,0,0,0,1,0,0,55,0

In [12]:
# for index, row in X_dataset.head(2).iterrows():
#     print(y_dataset[index])
#     for i, item in enumerate(row):
#         print(i, item)
#     print("-----------")

In [13]:
def write_livsvm_format(filename, xdata, ylabel):
    fulltext = ""
    for index, row in xdata.iterrows():
        new_row = str(ylabel[index])
        for i, item in enumerate(row):
            new_row +=(" "+str(i+1)+":"+str(item))
        new_row+="\n"
        fulltext+=new_row
    with open(filename, mode='wt', encoding='utf-8') as myfile:
        myfile.write(fulltext)

In [14]:
write_livsvm_format("train_svm.txt", X_dataset, y_dataset)

In [15]:
X_dataset.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,67,3,101761,1,10,0,7,0,0,1,0,0,40,0
1,57,0,190942,14,2,3,13,1,1,0,0,0,30,0
2,27,0,141545,0,9,0,8,0,0,1,0,1902,45,0
3,61,1,392694,1,10,2,2,1,0,1,0,0,50,0
4,34,4,327902,2,13,0,0,0,0,1,0,0,55,0

In [21]:
data_norm1 = encode_dataset(dataset)
X_dataset1 = data_norm1.drop('income', axis=1)
y_dataset1 = data_norm1['income']

pdata_norm1 = encode_dataset(pdata)
X_p = pdata_norm1.drop('income', axis=1)
y_p = pdata_norm1['income']

In [22]:
write_livsvm_format("train_svm_encode2.txt", X_dataset1, y_dataset1)